<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.topohawk.m"
        version   = "1.0.6">

    <name>TopoHawk</name>

    <description>
        Community made climbing guides, now on your mobile device.
    </description>

    <author href="http://topohawk.com" email="helpdesk@topohawk.com">
        TopoHawk Team
    </author>

    <preference name="orientation"                value="portrait" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="true" />
    <preference name="webviewbounce"              value="false" />
    <preference name="prerendered-icon"           value="false" />
    <preference name="stay-in-webview"            value="false" />
    <preference name="ios-statusbarstyle"         value="black-opaque" />
    <preference name="detect-data-types"          value="false" />
    <preference name="exit-on-suspend"            value="false" />
    <preference name="disable-cursor"             value="false" />
    <preference name="android-installLocation"    value="auto" />
    <preference name="permissions"                value="none" />
    <preference name="SplashScreen"               value="splash" />
    <preference name="SplashScreenDelay"          value="4500" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen"    value="true" />
    <preference name="StatusBarOverlaysWebview"   value="false" />
    <preference name="StatusBarStyle"             value="blackopaque" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.statusbar" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <platform name="android">
        <splash src="platform/android/res/splash-720-960.png" density="land-hdpi"/>
        <splash src="platform/android/res/splash-720-960.png" density="land-ldpi"/>
        <splash src="platform/android/res/splash-720-960.png" density="land-mdpi"/>
        <splash src="platform/android/res/splash-720-960.png" density="land-xhdpi"/>
        <splash src="platform/android/res/splash-640-960.png" density="port-hdpi"/>
        <splash src="platform/android/res/splash-320-426.png" density="port-ldpi"/>
        <splash src="platform/android/res/splash-320-470.png" density="port-mdpi"/>
        <splash src="platform/android/res/splash-720-960.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <splash src="platform/ios/res/splash-320-480.png"   width="320"  height="480" />
        <splash src="platform/ios/res/splash-640-960.png"   width="640"  height="960" />
        <splash src="platform/ios/res/splash-640-1136.png"  width="640"  height="1136" />
        <splash src="platform/ios/res/splash-750-1334.png"  width="750"  height="1334" />
        <splash src="platform/ios/res/splash-1242-2208.png" width="1242" height="2208" />
    </platform>

    <icon src="platform/android/res/icon-36-ldpi.png"   gap:platform="android"   gap:qualifier="ldpi" />
    <icon src="platform/android/res/icon-48-mdpi.png"   gap:platform="android"   gap:qualifier="mdpi" />
    <icon src="platform/android/res/icon-72-hdpi.png"   gap:platform="android"   gap:qualifier="hdpi" />
    <icon src="platform/android/res/icon-96-xhdpi.png"  gap:platform="android"   gap:qualifier="xhdpi" />

    <icon src="images/icon-29.png"        gap:platform="ios" width="29"  height="29" />
    <icon src="images/icon-small@2x.png"  gap:platform="ios" width="58"  height="58" />
    <icon src="images/icon-40.png"        gap:platform="ios" width="40"  height="40" />
    <icon src="images/icon-60.png"        gap:platform="ios" width="60"  height="60" />
    <icon src="images/icon-72.png"        gap:platform="ios" width="72"  height="72" />
    <icon src="images/icon-76.png"        gap:platform="ios" width="76"  height="76" />
    <icon src="images/icon-40@2x.png"     gap:platform="ios" width="80"  height="80" />
    <icon src="images/icon-60@2x.png"     gap:platform="ios" width="120" height="120" />
    <icon src="images/icon-52@2x.png"     gap:platform="ios" width="152" height="152" />
    <icon src="images/icon-180.png"       gap:platform="ios" width="180" height="180" />
    <icon src="images/icon-192.png"       gap:platform="ios" width="192" height="192" />

    <access origin="*" />
    <access origin="https://topohawk.com" />
    <access origin="http://topohawk.com" />
    <access origin="http://foldingmap.co" />
    <access origin="http://tiles.mapbox.com" subdomains="true"/>
    <access origin="https://tiles.mapbox.com" subdomains="true"/>
    <access origin="http://*.tiles.mapbox.com" subdomains="true"/>
    <access origin="https://*.tiles.mapbox.com" subdomains="true"/>
</widget>
